h1{
    color:brown;
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
}
.text-center{
    background-color: 'red' !important;
    text-align: center;
}
#sec_container{
    border: 2px solid red;
    padding: 5px;
}
#ul_Container{
    border: 2px solid rgb(230, 10, 255);
}
#two{
    border: 2px solid rgb(11, 68, 255);
}